
<div class="row pt-6"  ng-controller="securityController">


<div class=" card col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1  container pm-body clearfix form-animation-{{passwordForm}} " >


<div ng-if="!form.forgotPass" class="pmb-block">
    <div class="pmbb-header">
        <h2 class="lead"><i class="zmdi zmdi-person m-r-5"></i>Cambiar Contrase&ntilde;a</h2>


    </div>
    <div class="pmbb-body p-l-30">

        <img class="lcb-user img-circle" src={{profile.picture}} alt="">
        <form class="pmbb-edit">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Contrase&ntilde;a Actual</dt>
                <dd>
                    <div class="form-group">
                        <div class="fg-line">
                            <input data-ng-model="form.actual_pass" type="password" class="form-control"
                                   value="" placeholder="" ng-focus=delActual()>
                        </div>
                        <a href="" class="small help-block" ng-click="forgotP()">Olvidaste tu contrase&ntilde;a?</a>
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Nueva Contrase&ntilde;a</dt>
                <dd>
                    <div class="form-group {{errors.new_pass ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.new_pass" type="password" class="form-control"
                                   value="" placeholder="Debe tener 8 caracteres como m&iacute;nimo, incluyendo al menos un d&iacute;gito" ng-focus=delNew() ng-blur=validateNewPass(form.new_pass)>

                        </div>
                        <small ng-if="errors.new_pass" class="help-block">La contrase&ntilde;a debe contener 8 caracteres como m&iacute;nimo, incluyendo al menos un d&iacute;gito</small>
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Repetir Nueva Contrase&ntilde;a</dt>
                <dd>
                    <div class="form-group {{errors.new_pass_repeat ? 'has-error' : ''}} || {{errors.new_pass_missmatch ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.new_pass_repeat" type="password" class="form-control"
                                   value="" placeholder="" ng-focus=delRepeat() ng-blur=validatePassRepeat(form.new_pass_repeat,form.new_pass)>
                        </div>
                        <small ng-if="errors.new_pass_repeat" class="help-block">La contrase&ntilde;a debe contener 8 caracteres como m&iacute;nimo, incluyendo al menos un d&iacute;gito</small>
                        <small ng-if="errors.new_pass_missmatch" class="help-block">Las contrase&ntilde;as no coinciden</small>
                    </div>

                </dd>
            </dl>


            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardarPass(form.actual_pass,form.new_pass)" type="button">Guardar</button>

            </div>
            </br>
        </form>
    </div>
</div>


<div ng-show="form.forgotPass" class="pmb-block ">

        <div class="pmbb-header ">
            <h2 class="lead"><i class="zmdi zmdi-person m-r-5"></i>Restablecer Contrase&ntilde;a</h2>


        </div>
        <div class="pmbb-body p-l-30">
            <img class="lcb-user img-circle" src={{profile.picture}} alt="">

            <form class="pmbb-edit">
                <dl class="dl-horizontal">
                    <dt class="p-t-10">Ingresar email</dt>
                    <dd>
                        <div class="form-group {{errors.email ? 'has-error' : ''}}">
                            <div class="fg-line">
                                <input ng-model="form.email" type="text" class="form-control"
                                       ng-value="profile.email" placeholder="">
                            </div>
                            <small ng-if="errors.email" class="help-block">Se debe completar correctamente el email</small>
                        </div>

                    </dd>
                </dl>


                <div class="m-t-30">
                    <button class="btn btn-primary btn-sm"  ng-click="retrievePass(form.email)" type="button">Restablecer</button>

                    <button class="btn btn-link btn-sm" ng-click="cancRet()" >Cancelar</button>
                </div>
                </br>
            </form>
        </div>


    </div>


</div>
</div>
