<div class="pmb-block">
    <div class="pmbb-header">
        <h2>Frase</h2>

        <ul class="actions" data-ng-if="editPhrase === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editPh()"><i class="zmdi zmdi-edit"> </i></a>


            </li>
        </ul>
        </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editPhrase === 0">
            {{entity_profile.phrase }}
        </div>

        <form data-ng-submit="submit('profilePhrase', 'Profile Phrase')" class="pmbb-edit" data-ng-if="editPhrase === 1">
            <div class="fg-line">
                <textarea data-ng-model="form.phrase" class="form-control" rows="1" placeholder="Frase..."></textarea>
            </div>


            <div class="m-t-10">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditPh()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Resumen</h2>

        <ul class="actions" data-ng-if="editSummary === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editSum()"><i class="zmdi zmdi-edit"> </i></a>

        </ul>
        </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editSummary === 0">
            {{entity_profile.summary }}
        </div>

        <form data-ng-submit="submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="editSummary === 1">
            <div class="fg-line">
                <textarea data-ng-model="form.summary" class="form-control" rows="5" placeholder="Resumen..."></textarea>
            </div>


            <div class="m-t-10">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditSum()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Informaci&oacute;n B&aacute;sica</h2>

        <ul class="actions" data-ng-if="editInfo === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editInf()"><i class="zmdi zmdi-edit"> </i></a>

            </li>
        </ul>
        </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Raz&oacute;n Social</dt>
                <dd>{{ entity_profile.name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Nombre de Fantas&iacute;a</dt>
                <dd>{{ entity_profile.phantasy_name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>CUIT</dt>
                <dd>{{ entity_profile.cuit }}</dd>

            </dl>

            <dl class="dl-horizontal">
                <dt>Direcci&oacute;n</dt>
                <dd>{{ entity_profile.address.street }} - {{ entity_profile.address.number }} - {{ entity_profile.address.city }} - {{ entity_profile.address.province }}              </dd>
            </dl>






        </div>

        <form data-ng-submit="submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="editInfo === 1">
          <!--  <dl class="dl-horizontal">
                <dt class="p-t-10">Nombre</dt>
                <dd>
                    <div class="form-group {{errors.name ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.name" type="text" class="form-control"
                                   value="{{ entity_profile.name }}" placeholder="ej. Aida" ng-blur=validateChangeName(form.name)>
                        </div>
                        <small ng-if="errors.name" class="help-block">La raz&oacute;n social es obligarotia</small>
                    </div>

                </dd>
            </dl> -->
            <dl class="dl-horizontal">
                <dt class="p-t-10">Nombre de Fantas&iacute;a</dt>
                <dd>
                    <div class="form-group {{errors.phantasy_name ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.phantasy_name" type="text" class="form-control"
                                   value="{{ entity_profile.phantasy_name }}" placeholder="ej. Pasut" ng-blur=validateChangePhantasyName(form.phantasy_name)>
                        </div>
                        <small ng-if="errors.phantasy_name" class="help-block">El nombre de fantas&iacute;a es obligarotio</small>
                    </div>

                </dd>
            </dl>
         <!--   <dl class="dl-horizontal">
                <dt class="p-t-10">CUIT</dt>
                <dd>
                    <div class="form-group {{errors.cuit ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.phantasy_name" type="text" class="form-control"
                                   value="{{ entity_profile.cuit }}" placeholder="ej. Pasut" ng-blur=validateChangeCuit(form.cuit)>
                        </div>
                        <small ng-if="errors.cuit" class="help-block">El CUIT es obligarotio</small>
                    </div>

                </dd>
            </dl> -->


            <dl class="dl-horizontal">
                <dt class="p-t-10">Direcci&oacute;n</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.address.street" type="text" class="form-control"
                               value="{{ entity_profile.address.street }}" placeholder="Calle">

                        <input data-ng-model="form.address.number" type="text" class="form-control"
                               value="{{ entity_profile.address.number }}" placeholder="N&uacute;mero">

                        <input data-ng-model="form.address.city" type="text" class="form-control"
                               value="{{ entity_profile.address.city }}" placeholder="Localidad">

                        <input data-ng-model="form.address.province" type="text" class="form-control"
                               value="{{ entity_profile.address.province }}" placeholder="Provincia">

                    </div>

                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>

                <button class="btn btn-link btn-sm" data-ng-click="cancEditInfo()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Informaci&oacute;n de Contacto</h2>

        <ul class="actions" data-ng-if="editContact === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editCont()"><i class="zmdi zmdi-edit"> </i></a>

            </li>
        </ul>
        </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editContact === 0">
            <dl class="dl-horizontal">
                <dt>Tel&eacute;fono</dt>
                <dd>{{ entity_profile.phone }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Correo Electr&oacute;nico</dt>
                <dd>{{ entity_profile.email}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Twitter</dt>
                <dd>{{ entity_profile.twitter }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Skype</dt>
                <dd>{{ entity_profile.skype }}</dd>
            </dl>
        </div>

        <form data-ng-submit="submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="editContact === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Tel&eacute;fono</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.phone" type="text" class="form-control" placeholder="ej. +54 911 555-5555">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Correo Electr&oacute;nico</dt>
                <dd>
                    <div class="form-group {{errors.email ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.email" class="form-control" placeholder="ej. malinda.h@gmail.com" ng-blur=validateChangeEmail(form.email)>
                        </div>
                        <small ng-if="errors.email" class="help-block">Se debe completar correctamente el email</small>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Twitter</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.twitter" type="text" class="form-control" placeholder="ej. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Skype</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.skype" type="text" class="form-control" placeholder="ej. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditCont()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>
