
<section id="content" >
    <div class="container" >
        <div class="block-header">
            <h2>Farmared<small>El equipo de farmared te da la bienvenida</small></h2>

        </div>
    </div>
</section>
