
<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Resumen</h2>

        <ul class="actions" data-ng-if="editSummary === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editSum()" href="">Editar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editSummary === 0">
            {{profile.profileSummary }}
        </div>

        <form data-ng-submit="submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="editSummary === 1">
            <div class="fg-line">
                <textarea data-ng-model="profile.profileSummary" class="form-control" rows="5" placeholder="Summary..."></textarea>
            </div>
            <div class="m-t-10">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditSum" >Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Informaci&oacute;n B&aacute;sica</h2>

        <ul class="actions" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editInf()" href="">Editar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Nombre</dt>
                <dd>{{ profile.first_name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Apellido</dt>
                <dd>{{ profile.last_name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Sexo</dt>
                <dd>{{ profile.gender }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Fecha de Nacimiento</dt>
                <dd>{{ profile.birthDay }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Estado Civil</dt>
                <dd>{{ profile.martialStatus }}</dd>
            </dl>
        </div>

        <form data-ng-submit="submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Nombre</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profile.first_name" type="text" class="form-control" value="{{ profile.first_name }}" placeholder="ej. Aida">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Apellido</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profile.last_name" type="text" class="form-control" value="{{ profile.last_name }}" placeholder="ej. Pasut">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Sexo</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control">
                            <option>Femenino</option>
                            <option>Masculino</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Fecha de Nacimiento</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type='text' class="form-control" data-dt-picker="DD/MM/YYYY" uib-dropdown-toggle placeholder="ej. 23/06/1988">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Estado Civil</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control">
                            <option>Soltero/a</option>
                            <option>Casado/a</option>
                            <option>Divorciado/a</option>
                            <option>Separado/a</option>
                            <option>Viudo/a</option>
                            <option>Otro</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditInfo()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Informaci&oacute;n de Contacto</h2>

        <ul class="actions" data-ng-if="editContact === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editCont()" href="">Editar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editContact === 0">
            <dl class="dl-horizontal">
                <dt>Tel&eacute;fono</dt>
                <dd>{{ profile.mobileNumber }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Correo Electr&oacute;nico</dt>
                <dd>{{ profile.email}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Twitter</dt>
                <dd>{{ profile.twitter }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Skype</dt>
                <dd>{{ profile.skype }}</dd>
            </dl>
        </div>

        <form data-ng-submit="submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="editContact === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Tel&eacute;fono</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profile.mobileNumber" type="text" class="form-control" placeholder="ej. +54 911 555-5555">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Correo Electr&oacute;nico</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profile.email" type="email" class="form-control" placeholder="ej. malinda.h@gmail.com">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Twitter</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profile.twitter" type="text" class="form-control" placeholder="ej. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Skype</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="profile.skype" type="text" class="form-control" placeholder="ej. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditCont()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>
