<div class="pmb-block">
    <div class="pmbb-header">
        <h2>Frase</h2>

        <ul class="actions" data-ng-if="editPhrase === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editPh()"><i class="zmdi zmdi-edit"> </i></a>


                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editPhrase === 0">
            {{profile.phrase }}
        </div>

        <form data-ng-submit="submit('profilePhrase', 'Profile Phrase')" class="pmbb-edit" data-ng-if="editPhrase === 1">
            <div class="fg-line">
                <textarea data-ng-model="form.phrase" class="form-control" rows="3" placeholder="Frase..."></textarea>
            </div>


            <div class="m-t-10">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditPh()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Resumen</h2>

        <ul class="actions" data-ng-if="editSummary === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editSum()"><i class="zmdi zmdi-edit"> </i></a>

        </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editSummary === 0">
            {{profile.summary }}
        </div>

        <form data-ng-submit="submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="editSummary === 1">
            <div class="fg-line">
                <textarea data-ng-model="form.summary" class="form-control" rows="5" placeholder="Resumen..."></textarea>
            </div>


            <div class="m-t-10">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditSum()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Informaci&oacute;n B&aacute;sica</h2>

        <ul class="actions" data-ng-if="editInfo === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editInf()"><i class="zmdi zmdi-edit"> </i></a>

            </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Nombre</dt>
                <dd>{{ profile.first_name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Apellido</dt>
                <dd>{{ profile.last_name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Sexo</dt>
                <dd>{{ profile.gender }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Fecha de Nacimiento</dt>
                <dd>{{ profile.birthday }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Estado Civil</dt>
                <dd>{{ profile.martial_status }}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Direcci&oacute;n</dt>
                <dd>{{ profile.address.street }} - {{ profile.address.number }} - {{ profile.address.city }} - {{ profile.address.province }}              </dd>
            </dl>






        </div>

        <form data-ng-submit="submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Nombre</dt>
                <dd>
                    <div class="form-group {{errors.first_name ? 'has-error' : ''}}">
                        <div class="fg-line">
                            <input data-ng-model="form.first_name" type="text" class="form-control"
                                   value="{{ profile.first_name }}" placeholder="ej. Aida" ng-blur=validateChangeFirstName(form.first_name)>
                        </div>
                        <small ng-if="errors.first_name" class="help-block">El nombre es obligarotio</small>
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Apellido</dt>
                <dd>
                    <div class="form-group {{errors.last_name ? 'has-error' : ''}}">
                    <div class="fg-line">
                        <input data-ng-model="form.last_name" type="text" class="form-control"
                               value="{{ profile.last_name }}" placeholder="ej. Pasut" ng-blur=validateChangeLastName(form.last_name)>
                    </div>
                        <small ng-if="errors.last_name" class="help-block">El apellido es obligarotio</small>
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Sexo</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="form.gender">
                            <option></option>
                            <option value="female">Femenino</option>
                            <option value="male">Masculino</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Fecha de Nacimiento</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type='text' class="form-control" ng-model="form.birthday" data-dt-picker="DD/MM/YYYY" uib-dropdown-toggle placeholder="ej. 23/06/1988">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Estado Civil</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="form.martial_status">
                            <option></option>
                            <option value="single">Soltero/a</option>
                            <option value="married">Casado/a</option>
                            <option value="divorced">Divorciado/a</option>
                            <option value="separate">Separado/a</option>
                            <option value="widower">Viudo/a</option>
                            <option value="other">Otro</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Direcci&oacute;n</dt>
                <dd>
                       <div class="fg-line">
                           <input data-ng-model="form.address.street" type="text" class="form-control"
                                  value="{{ profile.address.street }}" placeholder="Calle">

                           <input data-ng-model="form.address.number" type="text" class="form-control"
                                   value="{{ profile.address.number }}" placeholder="N&uacute;mero">

                           <input data-ng-model="form.address.city" type="text" class="form-control"
                                  value="{{ profile.address.city }}" placeholder="Localidad">

                           <input data-ng-model="form.address.province" type="text" class="form-control"
                                  value="{{ profile.address.province }}" placeholder="Provincia">

                       </div>

                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>

                <button class="btn btn-link btn-sm" data-ng-click="cancEditInfo()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Informaci&oacute;n de Contacto</h2>

        <ul class="actions" data-ng-if="editContact === 0">
            <li  class="dropdown" uib-dropdown>

                <a data-ng-click="editCont()"><i class="zmdi zmdi-edit"> </i></a>

            </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="editContact === 0">
            <dl class="dl-horizontal">
                <dt>Tel&eacute;fono</dt>
                <dd>{{ profile.phone }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Correo Electr&oacute;nico</dt>
                <dd>{{ profile.email}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Twitter</dt>
                <dd>{{ profile.twitter }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Skype</dt>
                <dd>{{ profile.skype }}</dd>
            </dl>
        </div>

        <form data-ng-submit="submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="editContact === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Tel&eacute;fono</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.phone" type="text" class="form-control" placeholder="ej. +54 911 555-5555">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Correo Electr&oacute;nico</dt>
                <dd>
                    <div class="form-group {{errors.email ? 'has-error' : ''}}">
                    <div class="fg-line">
                        <input data-ng-model="form.email" class="form-control" placeholder="ej. malinda.h@gmail.com" ng-blur=validateChangeEmail(form.email)>
                    </div>
                        <small ng-if="errors.email" class="help-block">Se debe completar correctamente el email</small>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Twitter</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.twitter" type="text" class="form-control" placeholder="ej. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Skype</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="form.skype" type="text" class="form-control" placeholder="ej. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm"  data-ng-click="guardar()" type="submit">Guardar</button>
                <button class="btn btn-link btn-sm" data-ng-click="cancEditCont()" >Cancelar</button>
            </div>
        </form>
    </div>
</div>
