
.hover-white:hover {
    color: white !important;
}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.logo-title {
    display: inline-flex;
    align-items: baseline;
}
.pt-6{
    padding-top:6%;
}

.btn-green{
    color:#66a554;
}
